@{
    ViewData["Title"] = "Loan Shark MVC: A Coding Project By Casey Spaulding";
}

<!-- ==== Main Section ===== -->
<main class="flex-shrink-0">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row g-2 py-4 row-cols-1 row-cols-lg-2">
            <div class="col order-last order-lg-first">
                <h1 class="display-5 lh-1 mb-3">Loan Shark MVC: A Coding Project</h1>
                <h4 class="lead text-black">
                    A C# coding project using loops, functions, and math.. Write a mortgage loan calculator application that takes in three parameters:<ol>
                        <li>The amount of money loaned in dollars (balance)</li>
                        <li> The time over which the loan will be repaid, in months (term)</li>
                        <li>The percentage rate at which interest will accrue on the loan (rate)</li>
                    </ol>
                    <hr>
                    <div class="text-center">
                        <a type="button" class="btn btn-cfOrange btn-lg px-4 me-md-2" asp-area="" asp-controller="Home" asp-action="MortgagePage"> Try It Out!</a>
                    </div>
                    <h4 class="lead display-6">The output should include the following:</h4>
                    <h4 class="lead text-black">
                        <ol>
                            <li>
                                The month (1 corresponding to the 1st
                                month of payment, through the total
                                number of months)
                            </li>
                            <li>The payment amount</li>
                            <li>The principal paid this month</li>
                            <li>The interest paid this month</li>
                            <li>The total interest paid to date</li>
                            <li>The remaining loan balance at the end of </li>
                            the month.

                        </ol>
                    </h4>
                    <hr>
                    <ul class="fa-ul pt-2 checklist">
                        <li><span class="fa-li"><i class="fa fa-check-square"></i></span>CSS and Bootstrap Layout</li>
                        <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Javascript Fundamentals</li>
                        <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Javascript Loops</li>
                        <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Javascript Functions</li>
                        <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Javascript Dom Manipulation</li>
                        <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Javascript If/Then/Else</li>
                        <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Javascript Boolean Logic</li>
                    </ul>
                    <div class="text-center">
                        <a type="button" class="btn btn-cfOrange btn-lg px-4 me-md-2" asp-area="" asp-controller="Home" asp-action="MortgagePage"> Try It Out!</a>
                    </div>
            </div>
            <div class="col">
                <img src="~/img/LoanSharkLogo big.png" class="img-fluid center-block d-block mx-auto" alt="APP LOGO"
                     width="500" height="300"><p></p>
            </div>
            <div>
                <h5 class="mt-2 fw-bold order-last">
                    <div class="">
                        <div class="row">
                            <div class="col"><i class="fab fa-brands fa-square-js fa-3x jsicon"></i></div>
                            <div class="col"><i class="fab fa-bootstrap fa-3x bsicon"></i></div>
                            <div class="col"><i class="fab fa-html5 fa-3x html5icon"></i></div>
                            <div class="col"><i class="fab fa-css3-alt fa-3x css3icon"></i></div>
                        </div>
                    </div>
                </h5>
            </div>
        </div>
    </div>
</main>
