<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MortgageCalc_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MortgageCalc_MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/img/LOGO_cs_white_only_crop.png" class="d-inline-block align-text-top"
                         alt="Casey Spaulding Logo" width="37" height="28"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Loan Shark MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">The Code</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="MortgagePage">Loan Shark</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer sticky-footer mt-auto py-2 text-white bg-black">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col order-last order-lg-first text-white bg-black gy-2">
                    <div class="col py-1">&copy; 2022 Casey Spaulding | casey.spaulding@me.com</div>
                </div>
                <div class="col d-flex align-items-center justify-content-center-start justify-content-lg-center">
                    <img src="/img/topLogoSig.png" alt="Casey Spaulding Logo">
                </div>
                <div class="col d-flex align-items-center justify-content-start justify-content-lg-end">
                    <div class="row">
                        <div class="col social"><a href="https://www.linkedin.com/in/caseyspaulding/"><i class="fab fa-linkedin fa-2x"></i></a></div>
                        <div class="col social"><a href="http://www.github.com/caseyspaulding/"><i class="fab fa-github fa-2x"></i></a></div>
                        <div class="col social"><a href="https://twitter.com/caseyspauldingg/"><i class="fab fa-twitter fa-2x"></i></a></div>
                        <div class="col social"><a href="https://www.youtube.com/channel/UC5bLstR32GMs08BsNu_s5xg"><i class="fab fa-youtube fa-2x"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
